body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background: lightblue;
  width: 100%;
  display: flex;

}

.flex-item {
  background: coral;
  border: 1px solid black;
  padding: 20px;
  width: 200px;

}

.item-3 {
  /* Tem que ter um width, ele vai manter o tamanho enquanto diminui */
  flex-shrink: 2;

}